<div class="container">
  <div class="head">
    <h1>Vartojimo paskolos paraiška</h1>
  </div>
  <div class="wrapper">
    <div *ngIf="[1,2,3].includes(step)">
      <infobox
      type='info'
      message='Paraiškos pateikimas nėra Jūsų įsipareigojimas pasirašyti kredito sutartį. Gavus banko pasiūlymą, rekomenduojame jį apsvarstyti prieš priimant sprendimą dėl kredito sutarties sudarymo.'
    ></infobox>
    </div>
    <div id="content" class="wrapper__content" [ngSwitch]="step">
      <infobox
        *ngIf='formError'
        class='infobox'
        type='danger'
        message='Pažymėti laukai neužpildyti arba su klaidom!!'
      ></infobox>
      <ng-container  *ngSwitchCase="0">
        <div>
          <button class="button button--orange" (click)="nextStep()">Pildyti paraišką</button>
        </div>
      </ng-container>
      <ng-container *ngSwitchCase="1">
        <form-one [form]="form1" [formValidation]="formValidation"></form-one>
      </ng-container>
      <ng-container *ngSwitchCase="2">
        <form-two [form]="form2" [formValidation]="formValidation"></form-two>
      </ng-container>
      <ng-container *ngSwitchCase="3">
        <div class="form-summary">
          <span>Santrauka</span>
          <table>
            <tbody>
              <tr>
                <td>Paskolos suma</td>
                <td>{{ form1.get('amount')?.value }} EUR</td>
              </tr>
              <tr>
                <td>Paskolos terminas</td>
                <!-- <td>{{ form1.get('term')?.value }} mėnesiai</td> -->
                <td>{{ termValueString() }}</td>
              </tr>
              <tr>
                <td>Mėnesinis atlyginimas atskaičius mokesčius</td>
                <td>{{ form1.get('salary')?.value ? form1.get('salary')?.value + ' EUR' : '' }}</td>
              </tr>
              <tr>
                <td>Telefonas</td>
                <td>{{ form2.get('phone')?.value }}</td>
              </tr>
              <tr>
                <td>Paraiškos pateikimo data</td>
                <td>{{ currentDate | date:'dd.MM.yyyy'}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="application-details">
          <p>1.  Patvirtinu, kad pateikta informacija yra teisinga, galiojanti ir išsami. Jeigu šis patvirtinimas neteisingas, „Swedbank", AB (toliau – Bankas) gali nesuteikti prašomo finansavimo arba vienašališkai nutraukti šios paraiškos pagrindu sudarytą sutartį.</p>
          <p>2.  Patvirtinu, kad (i) susipažinau ir sutinku su Banko klientų aptarnavimo ir paslaugų teikimo bendrosiomis sąlygomis ir (ii) jų priedu „Asmens duomenų tvarkymo principai“, kurie skelbiami interneto svetainėje www.swedbank.lt ir pateikiami Banko klientų aptarnavimo padaliniuose.</p>
          <p>3.  Patvirtinu, kad esu informuotas apie Banko teisę gauti iš UAB „Creditinfo Lietuva“, finansų įstaigų, Valstybinio socialinio draudimo fondo valdybos ir VĮ Registrų centras, jų turimus mano asmens duomenis (vardą, pavardę, asmens kodą, adresą, pageidautų finansinių ir (arba) turtinių įsipareigojimų, dėl kurių buvo priimtas teigiamas ar neigiamas sprendimas, rūšis ir sumas, duomenis apie visų mano įsipareigojimų vykdymą, duomenis apie mano darbovietę, pajamas, jų rūšis bei šaltinius, šeiminę padėtį, vaikų skaičių ir kitus duomenis, būtinus kreditingumo vertinimui ir įsiskolinimo valdymui) tam, kad Bankas galėtų įvertinti mano kreditingumą ir finansinę riziką bei valdyti įsiskolinimą suteikiant finansavimą man ar kitam asmeniui, už kurį aš laiduoju, ir suteikto finansavimo naudojimosi laikotarpiu. Sutinku, kad Bankas, gaudamas minėtus duomenis, turi teisę gauti informaciją, kuri laikoma banko paslaptimi.</p>
          <p>4.  Patvirtinu, kad man yra žinoma, jog Bankas mano kreditingumo vertinimą dėl prašomo man ar kitam asmeniui, už kurį laiduoju, suteikti vartojimo kredito gali atlikti ir sprendimą dėl kredito suteikimo priimti automatiniu būdu. Automatiniam sprendimo priėmimui Bankas gali rinkti ir tvarkyti aukščiau šiame dokumente nurodytus duomenis iš aukščiau nurodytų šaltinių bei kitų asmenų (pvz., valstybės registrų, finansų įstaigų, Lietuvos banko) ir Banko turimus mano asmens duomenis  (pvz., duomenis apie mano banko sąskaitose sukauptas lėšas ir operacijas jose bei kitus duomenis, būtinus rizikos vertinimui ir įsiskolinimo valdymui). Man yra žinoma, kad aš galiu nesutikti per interneto banką arba telefonu su sprendimo priėmimu automatiniu būdu. Tokiu atveju minėtą sprendimą peržiūrės „Swedbank“ darbuotojas.</p>
          <p>5.  Patvirtinu, kad man yra žinoma, jog man prašant suteikti draudimo ar kitą paslaugą, kurią teikia Banko grupei priklausantis asmuo, Bankas tokiam asmeniui perduos prašomai paslaugai teikti būtinus duomenis.</p>
        </div>
      </ng-container>
      <ng-container *ngSwitchCase="4">
        <pre>{{form1.value | json}}</pre>
        <pre>{{form2.value | json}}</pre>
      </ng-container>
    </div>
    <div *ngIf="[1,2,3].includes(step)">
      <div class="form-buttons" *ngIf="step > 0 && step < 4">
        <button class="button button--brown button--previous" *ngIf="step > 1 && step < 4" (click)="previousStep()">Atgal</button>
        <button class="button button--orange button--next" *ngIf="step > 0 && step < 3" (click)="nextStep()">Pirmyn</button>
        <button class="button button--orange" *ngIf="step === 3" (click)="nextStep()">Siųsti paraišką</button>
      </div>
    </div>
  </div>
</div>
